---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: If you think compliance is expensive, try non-compliance.
    image: "https://placekitten.com/g/60/60?a=.png"
    name: former U.S. Deputy Attorney General Paul McNulty
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p> <strong>Aperno</strong> is currently in stealth mode. We are on mission to democratize security and compliance </p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
